@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  color-scheme: light;
  --background: #fff;
  --foreground: #0000FE;
}

.dark {
  color-scheme: dark;
  --background: #0a0a0a;
  --foreground: #ffffff;
}

@media (prefers-color-scheme: light) {
  :root {
    --background: #fff;
    --foreground: #0000FE;
  }
}

body {
  color: var(--foreground);
  background: radial-gradient(circle,rgba(0, 0, 225, 0.1) 0%, rgba(204, 204, 254, 1) 50%, rgba(255, 255, 254, 1) 100%);
  font-family: Arial, Helvetica, sans-serif;
  transition: background 0.3s ease, color 0.3s ease;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

/* Custom styles for react-h5-audio-player time elements */
.rhap_container .rhap_current-time,
.rhap_container .rhap_duration,
.rhap_time {
  color: white !important; 
}

.rhap_container .rhap_current-time {
  margin-right: 0.25rem; /* Add margin to the right of the current time */
}
